bin
.cache
include/Nix.def
include/Nix-parenthesize.str
include/Nix-Permissive.def
include/Nix.generated.pp.af
include/Nix.packed.esv
include/Nix.pp.af
include/Nix.rtg
include/Nix.str
include/Nix.tbl
include/nix.rtree
include/nix.ctree
include/nix.ctree.dep
include/nix.jar
include/nix-java.jar
editor/java/trans
editor/*.generated.*
syntax/Nix*.generated.esv
syntax/Nix.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
